/* цвет заголовков #212121 */
/* цвет текста #757575 */
/* белый  #FFFFFF */
/* акцент #2196F3*/

:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primery-bg-color: #FFFFFF;
    --secondary-bg-color: #2F303A;
} 

body {
    color: var(--primary-text-color);
    background-color: var(--primery-bg-color);
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
}

.link, .logo, .logo-web {
    text-decoration: none;
}
 
.list {
    list-style: none;
}

.title {
    color: var(--title-text-color);
}

.button {
    font-family: inherit;
    cursor: pointer;
}


/* -------- Header ------- */

/* Logo */
.header .logo {
    color: black;
}
.logo-web {
    color: var(--accent-color);
}
.logo, .logo-web {
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    line-height: 1.19;
}

/* navigation */

.menu-nav .link {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
   
}
.menu-nav .link:hover, 
.menu-nav .link:focus {
    color: var(--accent-color);
}

.menu-nav .link.current {
   color: var(--accent-color);
}

/* contacts header*/

.contacts .link {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

}
.contacts .link:hover, 
.contacts .link:focus {
    color: var(--accent-color);
}

/* Section hero */

.hero {
    background-color: var(--secondary-bg-color);
}
.hero .title {
    color: white;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.hero .button {
    color: white;
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    align-items: center;
    letter-spacing: 0.06em;
}
.hero .button:hover,
.hero .button:focus {
    background-color: #188CE8;
}

/* Section features */

.features .title {
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.features .text {
    font-size: 14px;
    line-height: 1.71;
}

/* Section functions */

.functions .title {
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}


/* Section team */ 

.team {
    background-color: #F5F4FA;
}
.team .title {
    font-size: 36px;
    line-height: 1.17;
    text-align: center; 
}
.team .card {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}
.team .text {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}


/* footer */

.footer {
    background-color: var(--secondary-bg-color);
}
.footer .logo {
    color: white;
}
.address {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
}
.address .link {
    color: rgba(255, 255, 255, 0.6);
}
.address .link.adds {
    color: white;
}
.address .link:hover, 
.address .link:focus {
    color: var(--accent-color);
}

/*-------------- Page portfolio ------------ */

/* filter */
.filter .button {
    color: #212121;
    background-color: #F5F4FA;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
}
.filter .button:hover,
.filter .button:focus {
    color: white;
    background-color: var(--accent-color);
}

/* project */
.project .title {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
} 
.project .text {
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.87;
}