body {
    color: #757575;
    background-color: #E5E5E5;
}

/* цвет заголовков #212121 */
/* цвет текста #757575 */
/* белый  #FFFFFF */
/* акцент #2196F3*/
/* цвет основного фона #E5E5E5 */
/* вторичный цвет фона #F5F4FA */
 
ul {
    list-style: none;
}

.section-title {
    color: #212121;
}

/* Header */

.logo {
    color: black;
}
.logo-web {
    color: #2196F3;
}


.menu-nav .link {
    color: #212121;   
}
.menu-nav .link:hover, 
.menu-nav .link:focus {
    color: #2196F3;
}

.contacts .link {
    color: #757575;
}
.contacts .link:hover, 
.contacts .link:focus {
    color: #2196F3;
}



/* Section hero */

.hero-title {
    color: #ffffff;
}
.hero-button {
    color: #ffffff;
    background-color: #2196F3;
}

